<div class="container marketing">
  <div class="row">
    <div class="col-lg-12">
      <button md-raised-button (click)="login()">
        <img src="/img/facebook-login.png" class="img-responsive center-block" alt="" />
      </button>
      <button md-raised-button (click)="logout()">
        Logout
      </button>
      <!--<a [routerLink]="['home']"><img src="/img/facebook-login.png" class="img-responsive center-block" alt=""/></a>-->
    </div>
  </div>
  <hr class="featurette-divider">
</div>
